<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZ Real Estate</title>
</head>
<body>
    <h2>Message from XYZ Real Estate</h2>
    <h3>Thanks for leaving an application to purchase in XYZ Real Estate!</h3>
    <p>Greetings, {{ estate_buyer_first_name }} {{ estate_buyer_last_name }}!</p>
    <p>Real Estate: {{ estate_title }} ({{ estate_country }}, {{ estate_state }}, {{ estate_city }}, {{ estate_street }}, {{ estate_house_number }})</p>
    <p>We'll contact you soon via email or phone number whose you situated in the order registration form, to discuss your smart purchase.</p>
    <p>You can find pictures of your chosen property below, share it with friends and family!</p>
    <p>With best regards, XYZ Real Estate Sales Team.</p>
</body>
</html>